<header class="main-header">
	<div class="user-info">
		<span>{{user.full_name}}</span>
	</div>
	<form action="/views/" method="POST" class="signout-form">
		<button type="submit">Sign out</button>
	</form>
</header>