<div class="pagination">
  {{#if hasPreviousPage}}
    <a href="?page={{previousPage}}" class="page-link">Previous</a>
  {{/if}}
  
  {{#each pages}}
    <a href="?page={{this}}" class="page-link {{#if this == page}} active {{/if}}">
      {{this}}
    </a>
  {{/each}}
  
  {{#if hasNextPage}}
    <a href="?page={{nextPage}}" class="page-link">Next</a>
  {{/if}}
</div>